.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}
html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet

body {
    
    display: block;
    margin: 8px;
}
html {
    /* background-image: url('background.jpg') !important; */
    background-size: cover;
    background-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.ltml {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.bgimg {
    width: 50%;
    position: relative;
    z-index: 0;
}


